@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable default cursor everywhere */
* {
  cursor: none !important;
}

/* KPRverse style red text selection */
::selection {
  background: #dc2626; /* Tailwind Red-600 */
  color: white;
}

/* Prevent unwanted horizontal scroll */
body {
  overflow-x: hidden;
}